name: Java CI with Maven - Test and package

on: [pull_request] #Se déclenche sur une pull request

jobs:
  TestAndPackage:
    name: Java CI with Maven - Test and package
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '21'

      - name: Run mvn
        run: 'mvn –B package'